.wrap {
  width: 100%;
}

.comment {
  display: block;
}

.commentRow {
  display: flex;
  gap: 12px;
  padding: 5px 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  flex: 0 0 auto;
}

.bubble {
  flex: 1;
  border-radius: 14px;
  padding: 0 20px;
}

.meta {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 6px;
}

.author {
  color: var(--color-text-muted);
  font-family: var(--font-family-base);
  font-size: var(--typo-home-caption-size);
  font-weight: var(--typo-home-caption-weight);
  line-height: var(--typo-home-caption-line-height);
}

.date {
  color: var(--color-text-comment);
  font-family: var(--font-family-base);
  font-size: var(--typo-home-caption-size);
  font-weight: var(--typo-home-caption-weight);
  line-height: var(--typo-home-caption-line-height);
}

.text {
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  font-size: var(--typo-caption-size);
  font-weight: var(--typo-caption-weight);
  line-height: var(--typo-caption-line-height);
  margin: 0;
}

.actions {
  margin-top: 8px;
}

.replyBtn {
  border: none;
  background: transparent;
  padding: 0;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}

.replies {
  margin-left: 64px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: var(--color-text-muted);
  font-family: var(--font-family-base);
  font-size: var(--typo-home-caption-size);
  font-weight: var(--typo-home-caption-weight);
  line-height: var(--typo-home-caption-line-height);
}

.list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

:global(.comments) {
  background: var(--color-bg);
  padding: 20px;
  border-radius: 4px;
}
