.card {
  width: 300px;
  height: 420px;
  background: #fff;
  border: 1px solid #d0c2ba;
  border-radius: 4px;
  box-shadow: 0px 0px 7px rgba(71, 60, 56, 0.2);
  padding: 14px;
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  gap: 12px;
}

.category {
  justify-self: start;
  color: #826b60;
  font-size: 12px;
  line-height: 16px;
  background: #f6f1ee;
  border-radius: 2px;
  padding: 2px 8px;
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(71, 60, 56, 0.2);
}

.listWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  margin: 0;
  padding: 0 30px;
  width: 100%;
  max-width: 520px;
  list-style: none;
}

.item {
  font-size: var(--typo-h4-size);
  font-weight: var(--typo-h4-weight);
  line-height: 1.35;
  color: var(--color-text-muted);
  padding: 5px 0;
}

.item + .item {
  margin-top: 10px;
}
